@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
  --primary-color: #633ad9;
  --secondary-color: #413b70;
  --background-primary: #2f2b4a;
  --background-secondary: #453f7a;
  --primary-text-color: #fdfdfd;
  --secondary-text-color: #b8a9f3;
  --sub-text-color: #6c728a;
  --alt-color: #47b2eb;

  --smaller-devices: 320px;
  --small-devices: 480px;
  --medium-devices: 1024px;
  --large-devices: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif !important;
}

body {
  background-image: linear-gradient(
    80deg,
    var(--background-primary) 20%,
    var(--background-secondary) 90%
  );
  overflow-x: hidden;
}
